 {% extends "caption/base.html" %} 
 {% load static %}
{% block head %}
<!-- <link rel="stylesheet" href="{% static 'caption/style.css' %}"> -->
{% endblock %}
{%block content%}


<div class="title">	
    <h1  >Image captioning site</h1>
    <h4> Give me an image and i will give you a cool caption</h4>
</div>

<br>
<br>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form">
    
    <div class="image-wrapper">
        <div class="image-icon">
            <img src="../../static/caption/Icon awesome-file-image.svg" alt="">
        </div>
        
        <div class="image-selector">
            {{ form.as_p }}
        </div>
    </div>
    </div>
    <input class="form-control-submit" type="submit" value="Submit">
</form>

{%endblock%}